<div class="container">
    <h1>Compte à débiter</h1>
    <app-custom-select
        [accountsList]="accountsList"
        [txt]="'Sélectionnez le compte émetteur'"
        (currentAccount)="setDebitAccount($event)">
    </app-custom-select>

    <div class="amount-container">
        <span class="material-symbols-outlined arrow_cool_down">arrow_cool_down</span>
        <app-custom-form-fields
            [amountPlaceholder]="'Montant de l\'opération'"
            [referencePlaceholder]="'Référence du paiement'"
            (amountOutput)="setAmount($event)"
            (referenceOutput)="setReference($event)">
        </app-custom-form-fields>
    </div>

    <h1>Compte à créditer</h1>
    <app-custom-select
        [accountsList]="accountsList"
        [txt]="'Sélectionnez le compte bénéficiaire'"
        (currentAccount)="setCreditAccount($event)"></app-custom-select>

    <button (click)="validateTransfer()">Valider l'opération</button>
</div>

<app-custom-alert
    *ngIf="showAlert"
    [txt]="alertMsg"
    [isRedColor]="isError"
    (closeAlert)="setShowAlert($event)">
</app-custom-alert>

