div
{
    margin: 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0px 15px 0 #293d5e1a;
}

h1
{
    margin: 0;
    background-color: #171c45;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 15px;
    border-radius: 10px 10px 0 0;
    display: flex;
}

span
{
    white-space: nowrap;
}

.blank
{
    width: 100%;
}

.list
{
    margin: 0;
    padding: 15px;
    border-top: solid 1px rgb(200, 200, 200);
    display: flex;
    font-size: 15px;
}

.element
{
    margin-right: 20px;
}

.green
{
    color: #46CB18;
}

.red
{
    color: #E03C31;
}

.error
{
    margin: 50px;
    display: flex;
    justify-content: center;
}

button
{
    position: absolute;
    top: 90px; left: 10px;
    height: fit-content;
    width: fit-content;
    background-color: #171c45;
    display: flex;
    border: 0;
    border-radius: 50px;
}

button:hover
{
    background-color: #fff;
    box-shadow: 0 0px 15px 0 #293d5e1a;
    cursor: pointer;

    .material-symbols-outlined
    {
        color: #171c45;
    }
}

.material-symbols-outlined
{
    color: #fff;
    font-size: 20px;
}