<button (click)="onRetun()">
    <span class="material-symbols-outlined">arrow_back</span>
</button>

<div *ngIf="account !== null; else error">
    <h1>
        <span>{{account.name}}</span>
        <span class="blank"></span>
        <span>{{account.total | currency: 'EUR'}}</span>
    </h1>

    <p *ngFor="let operation of operationsList" class="list">
        <span class="element">{{operation.date | date: 'dd/MM/yyyy'}}</span>
        <span class="element blank">{{operation.name}}</span>
        <span class="green" [ngClass]="{ red: operation.amount < 0 }">{{operation.amount | currency: 'EUR'}}</span>
    </p>
</div>

<ng-template #error>
    <p class="error">Erreur, ce compte n'existe pas</p>
</ng-template>
