<div class="custom-select">
    <p (click)="onClickShowOptions()" class="custom-option">
        <span>{{txt}}</span>
        <span class="blank"></span>
        <span class="green" [ngClass]="{ red: total < 0 }">{{totalStr | currency: "EUR"}}</span>
        <span *ngIf="!showOptions"class="material-symbols-outlined keyboard_arrow">keyboard_arrow_down</span>
        <span *ngIf="showOptions" class="material-symbols-outlined keyboard_arrow">keyboard_arrow_up</span>
    </p>
    <div *ngIf="showOptions" @open>
        <p (click)="selectAccount(account)" *ngFor="let account of accountsList" class="custom-option selectable">
            <span>{{account.name}}</span>
            <span class="blank"></span>
            <span class="green" [ngClass]="{ red: account.total < 0 }">{{account.total | currency: 'EUR'}}</span>
            <span class="material-symbols-outlined keyboard_arrow"></span>
        </p>
    </div>
</div>