.custom-form-fields
{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0px 15px 0 #293d5e1a;
    display: flex;
    flex-direction: column;
}

input
{
    border: 0;
    background-color: rgb(240, 240, 245);
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    font-family: "Montserrat";
    font-size: 15px;
    font-weight: 600;
}
