header
{
    background: linear-gradient(to right, #007e93, #45d5c8);
    overflow: hidden;
    display: flex;
    box-shadow: 0 1px 10px -6px rgba(0, 0, 0, .42), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 4px 5px -2px rgba(0, 0, 0, .1);
}

img
{
    height: 100px;
    margin: -10px 50px -10px 5px;
}

nav
{
    display: flex;
    align-items: center;
    white-space: nowrap;
}

ul
{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

li
{
    margin-left: 25px;
    height: 100%;
    display: flex;
    align-items: center;
}

a
{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: solid transparent 5px;
    padding: 0 10px 0 10px;
    
}

a:hover
{
    color: #171c45;
}

.active
{
    color: #171c45;
    border-bottom: solid #171c45 5px;
}


.blank
{
    width: 100%;
}

span
{
    font-size: 50px;
    color: #fff;
    display: flex;
    align-items: center;
    margin-right: 5px;
}